*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #eb3349, #f45c43);
}

.container {
  padding: 0.5rem;
}

.header__title {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 900;
  font-size: 8rem;
  color: #ebe54b;
}

.btn {
  padding: 0.75em 1.25em;
  font-size: 1.2rem;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border-radius: 8px;
  cursor: pointer;
  background: linear-gradient(135deg, #614385, #516395);
  color: #ebebeb;
  border: none;
  transition: opacity 250ms;
}

.btn:hover {
  opacity: 0.8;
}

@media (max-width: 472px) {
  html {
    font-size: 12px;
  }
}
